---
import Layout from '@layouts/Layout.astro';
import Box from '@components/Box.astro';
import Heading from '@components/Heading.astro';
import Card from '@components/Card.astro';
import Stats from '@components/Stats.astro';

import aozoraCharacters from '@data/aozora_characters.csv';
import aozoraDocuments from '@data/aozora_documents.csv';
import wikipediaCharacters from '@data/wikipedia_characters.csv';
import wikipediaDocuments from '@data/wikipedia_documents.csv';
import newsCharacters from '@data/news_characters.csv';
import newsDocuments from '@data/news_documents.csv';
import CoverageChart from '@components/CoverageChart.astro';

const aozoraColor = 'rgb(3 105 161)'; // text-sky-700
const wikipediaColor = 'rgb(185 28 28)'; // text-red-700
const newsColor = 'rgb(21 128 61)'; // text-green-700
---

<Layout title="Kanji usage frequency">
  <Box>
    <Heading
      level={1}
      class="uppercase text-transparent bg-clip-text bg-gradient-to-r from-pink-400 to-sky-600"
    >
      Kanji usage frequency
    </Heading>
    <p class="mb-2 text-xl font-light">
      Datasets built from different Japanese language corpora.
    </p>
    <p class="text-sm flex flex-wrap gap-x-3 gap-y-1">
      <a
        href="https://github.com/scriptin/kanji-frequency/tree/master/data"
        class="font-bold"
      >
        Download
      </a>
      <a href="https://github.com/scriptin/kanji-frequency">GitHub</a>
      <a href="/kanji-frequency/methods">Methods</a>
    </p>
  </Box>
  <ul role="list" class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <li>
      <Card href="/kanji-frequency/aozora" title="Aozora">
        Books from
        <a href="https://www.aozora.gr.jp/" class="link-inverted">
          Aozora Bunko
        </a>
        <Stats
          class="mt-2"
          textsCount={aozoraDocuments[0].doc_count}
          totalKanjiCount={aozoraCharacters[0].char_count}
          uniqueKanjiCount={aozoraCharacters.length}
        />
      </Card>
    </li>
    <li>
      <Card href="/kanji-frequency/wikipedia" title="Wikipedia">
        Articles from
        <a href="https://ja.wikipedia.org/" class="link-inverted">
          Japanese Wikipedia
        </a>
        <Stats
          class="mt-2"
          textsCount={wikipediaDocuments[0].doc_count}
          totalKanjiCount={wikipediaCharacters[0].char_count}
          uniqueKanjiCount={wikipediaCharacters.length}
        />
      </Card>
    </li>
    <li>
      <Card href="/kanji-frequency/news" title="News">
        News articles from
        <a href="https://ja.wikinews.org/" class="link-inverted">
          Japanese Wikinews
        </a>
        <Stats
          class="mt-2"
          textsCount={newsDocuments[0].doc_count}
          totalKanjiCount={newsCharacters[0].char_count}
          uniqueKanjiCount={newsCharacters.length}
        />
      </Card>
    </li>
    <li>
      <Card href="/kanji-frequency/old-version" title="Old version">
        Previous version of these datasets from 2015. Includes a much larger
        news corpus and additional Twitter corpus, but has many issues.
      </Card>
    </li>
  </ul>
  <Box>
    <Heading level={3}>Coverage of corpora</Heading>
    <CoverageChart
      class="mb-4"
      takeFirst={1000}
      width={400}
      height={250}
      margin={30}
      scaleLines={{
        x: 100,
        y: 0.1,
      }}
      datasets={{
        aozora: {
          data: aozoraCharacters,
          color: aozoraColor,
        },
        wikipedia: {
          data: wikipediaCharacters,
          color: wikipediaColor,
        },
        news: {
          data: newsCharacters,
          color: newsColor,
        },
      }}
    />
    <p class="mb-2">
      This diagram shows how many of the first most frequent kanji one needs to
      know in order to be able to read a given fraction of each corpus.
    </p>
    <p class="mb-2">
      For example, if a person knows the first 100 most frequent kanji from the
      "news" dataset (green line), they are albe to read ~45% of kanji in news
      articles. Knowing 300 most frequenct kanji will ensure ~72% of
      comprehension. Knowing 1000 results in ~96% understanding.
    </p>
    <p>
      See
      <a href="https://en.wikipedia.org/wiki/Zipf%27s_law">Zipf's law</a>
    </p>
  </Box>
</Layout>
