---
import type { MarkdownLayoutProps } from 'astro';

import BaseLayout from '@layouts/BaseLayout.astro';
import Box from '@components/Box.astro';
import PageTitle from '@components/PageTitle.astro';
import PageSubtitle from '@components/PageSubtitle.astro';
import Heading from '@components/Heading.astro';
import DownloadLink, { DOWNLOAD_URL } from '@components/DownloadLink.astro';
import Table from '@components/Table.astro';
import Navigation from '@components/Navigation.astro';

import { datasets } from 'src/datasets';
import type { DatasetKey } from 'src/datasets';
import Stats from '@components/Stats.astro';

type Props = MarkdownLayoutProps<{
  title: string;
  subtitle: string;
  datasetKey?: DatasetKey;
  downloadUrl?: string;
}>;

const { title, subtitle, datasetKey, downloadUrl } = Astro.props.frontmatter;

const dataset = datasetKey ? datasets[datasetKey] : null;
const SAMPLE_ROWS = 6;
const tableClass = 'mt-2 mb-4';
---

<BaseLayout title={`${title} - Kanji usage frequency`}>
  <Box slot="header">
    <PageTitle>{title}</PageTitle>
    <PageSubtitle>{subtitle}</PageSubtitle>
    {
      dataset && (
        <Stats
          class="mb-2"
          textsCount={+dataset.documents[0].doc_count}
          totalKanjiCount={+dataset.characters[0].char_count}
          uniqueKanjiCount={dataset.characters.length - 2}
        />
      )
    }
    <Navigation>
      <a href="/kanji-frequency/">&larr; Home</a>
      <a href="#about-start">About</a>
    </Navigation>
  </Box>
  <Box inverted slot="content">
    {
      (datasetKey || downloadUrl) && (
        <p class="mb-4">
          <DownloadLink url={downloadUrl} />
        </p>
      )
    }
    {
      dataset && (
        <>
          <Heading level={2}>
            Sample of
            <a
              href={`${DOWNLOAD_URL}/${datasetKey}_characters.csv`}
              target="_blank"
            >
              {datasetKey}_characters.csv
            </a>
          </Heading>
          <Table
            type="characters"
            data={dataset.characters}
            nRows={SAMPLE_ROWS}
            columns={['rank', 'code_point_hex', 'char', 'char_count']}
            class={tableClass}
          />
          <Heading level={2}>
            Sample of
            <a
              href={`${DOWNLOAD_URL}/${datasetKey}_documents.csv`}
              target="_blank"
            >
              {datasetKey}_documents.csv
            </a>
          </Heading>
          <Table
            type="documents"
            data={dataset.documents}
            nRows={SAMPLE_ROWS}
            columns={['rank', 'code_point_hex', 'char', 'doc_count']}
            class={tableClass}
          />
        </>
      )
    }
    {
      dataset && dataset.dates && (
        <>
          <Heading level={2}>
            Sample of
            <a href={`${DOWNLOAD_URL}/${datasetKey}_dates.csv`} target="_blank">
              {datasetKey}_dates.csv
            </a>
          </Heading>
          <Table
            type="dates"
            data={dataset.dates}
            nRows={SAMPLE_ROWS}
            columns={['year', 'month', 'wikinews']}
            class={tableClass}
          />
        </>
      )
    }
    {dataset && <hr id="about-start" class="mt-6 mb-4" />}
    <article class="markdown">
      <slot />
    </article>
  </Box>
</BaseLayout>
