---
import type { MarkdownLayoutProps } from 'astro';

import BaseLayout from '@layouts/BaseLayout.astro';
import Box from '@components/Box.astro';
import PageTitle from '@components/PageTitle.astro';
import PageSubtitle from '@components/PageSubtitle.astro';
import Heading from '@components/Heading.astro';
import DownloadLink, { DOWNLOAD_URL } from '@components/DownloadLink.astro';
import DatasetSampleTable from '@components/table/DatasetSampleTable.astro';
import Navigation from '@components/Navigation.astro';

import { datasets } from 'src/datasets';
import type { DatasetKey } from 'src/datasets';
import Stats from '@components/Stats.astro';

type Props = MarkdownLayoutProps<{
  title: string;
  subtitle: string;
  datasetKey?: DatasetKey;
  downloadUrl?: string;
}>;

const { title, subtitle, datasetKey, downloadUrl } = Astro.props.frontmatter;

const dataset = datasetKey ? datasets[datasetKey] : null;
const SAMPLE_ROWS = 6;
const tableClass = 'mt-2 mb-4';
---

<BaseLayout title={`${title} - Kanji usage frequency`}>
  <Box slot="header">
    <PageTitle>{title}</PageTitle>
    <PageSubtitle>{subtitle}</PageSubtitle>
    {
      dataset && (
        <Stats
          class="mb-2"
          textsCount={+dataset.documents[0].doc_count}
          totalKanjiCount={+dataset.characters[0].char_count}
          uniqueKanjiCount={dataset.characters.length - 2}
        />
      )
    }
    <Navigation>
      <a href="/kanji-frequency/">&larr; Home</a>
      <a href="#about-start">About</a>
    </Navigation>
  </Box>
  <Box inverted slot="content">
    {
      (datasetKey || downloadUrl) && (
        <p class="mb-4">
          <DownloadLink url={downloadUrl} />
        </p>
      )
    }
    {
      dataset && (
        <>
          <Heading level={2}>
            Sample of
            <a
              href={`${DOWNLOAD_URL}/${datasetKey}_characters.csv`}
              target="_blank"
            >
              {datasetKey}_characters.csv
            </a>
          </Heading>
          <DatasetSampleTable
            type="characters"
            data={dataset.characters}
            nRows={SAMPLE_ROWS}
            columns={[
              {
                name: 'rank',
                type: 'integer',
                comment: 'Rank, repeats if char_count is equal',
              },
              {
                name: 'code_point_hex',
                type: 'string',
                comment: 'Unicode code point of a kanji character',
              },
              { name: 'char', type: 'string', comment: 'Kanji character' },
              {
                name: 'char_count',
                type: 'integer',
                comment: 'How many times this kanji was encountered?',
              },
            ]}
            class={tableClass}
          />
          <Heading level={2}>
            Sample of
            <a
              href={`${DOWNLOAD_URL}/${datasetKey}_documents.csv`}
              target="_blank"
            >
              {datasetKey}_documents.csv
            </a>
          </Heading>
          <DatasetSampleTable
            type="documents"
            data={dataset.documents}
            nRows={SAMPLE_ROWS}
            columns={[
              {
                name: 'rank',
                type: 'integer',
                comment: 'Rank, repeats if doc_count is equal',
              },
              {
                name: 'code_point_hex',
                type: 'hexadecimal integer',
                comment: 'Unicode code point of a kanji character',
              },
              { name: 'char', type: 'string', comment: 'Kanji character' },
              {
                name: 'doc_count',
                type: 'integer',
                comment: 'In how many docs/texts this kanji was encountered?',
              },
            ]}
            class={tableClass}
          />
        </>
      )
    }
    {
      dataset && dataset.dates && (
        <>
          <Heading level={2}>
            Sample of
            <a href={`${DOWNLOAD_URL}/${datasetKey}_dates.csv`} target="_blank">
              {datasetKey}_dates.csv
            </a>
          </Heading>
          <DatasetSampleTable
            type="dates"
            data={dataset.dates}
            nRows={SAMPLE_ROWS}
            columns={[
              { name: 'year', type: 'integer', comment: 'Year of publishing' },
              {
                name: 'month',
                type: 'integer',
                comment:
                  'Month of publishing, number with leading zero (01=Jan, 02=Feb, ..., 12=Dec)',
              },
              {
                name: 'wikinews',
                type: 'integer',
                comment: 'How many articles from Wikinews on this year/month?',
              },
            ]}
            class={tableClass}
          />
        </>
      )
    }
    {dataset && <hr id="about-start" class="mt-9 mb-6 border-t-sky-100/50" />}
    <article class="markdown">
      <slot />
    </article>
  </Box>
</BaseLayout>
